
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
.navbar {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}
</style>

<nav class="navbar navbar-default" style="background-color:#c2d4d8">
  <div class="container">
    <div class="navbar-header" >
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="/" ><%= $app_name %></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right header-links">
            <li><a href="/"> Home </a></li>
            <% if cu %>
                <li><a href="/me"> <%= cu['first_name'] %> </a></li>
                <li><a href="/logout"> Log Out</a></li>
                <% else %>
                <li> <a href="/register"> Register </a></li>
                <% end %>
                <li><a href="/contact_us">Contact Us</a></li>
                <% if !$prod %>
                <li><a style="color:blue;" href="/admin/dashboard"> Admin </a></li>
                <% end %>
            </ul>
    </div>
  </div>
</nav>

