<h1> Welcome to devForum.</h1>

<div id="app">
  <div class="container-fluid">
    <ul class="list-group">
      <post v-for="post in posts" :post="post"></post>
    </ul>
  </div>
</div>

<script src='/js/components/post.js'></script>
<script src='/js/homepage/homepage.js'></script>