<!-- https://coligo.io/vuejs-components/ -->

<div id="app">
  <div class="container-fluid">
    <ul class="list-group">
      <% homepage_posts.each do |post| %>
        <%= erb :'posts/single_post', locals: {post: post} %>
      <% end %>
    </ul>
  </div>
</div>

<!-- <script src='/js/homepage/homepage.js'></script> -->