<template id="post-template">
  <li class="list-group-item">

  <div>Posted by<a :href="user_link">{{postdata.username}}</a></div>
    <i class="glyphicon glyphicon-chevron-up" @click="upvote" :class="{disabled: upvoted}"></i>
    <span class="label label-primary">{{ postdata.votes }}</span>
<!--     <i class="glyphicon glyphicon-chevron-down" @click="downvote" :class="{disabled: downvoted}"></i> -->
    <a :href=link>{{ postdata.title }}</a>
    {{ postdata.created_at }} 
    <div>Number of comments: {{ postdata.comments_count }}</div>
  </li>
</template>

<template id="comment-template">
  <li class="list-group-item">
    <i class="glyphicon glyphicon-chevron-up" @click="upvote" :class="{disabled: upvoted}"></i>
    <span class="label label-primary">{{ comment.votes }}</span>
<!--     <i class="glyphicon glyphicon-chevron-down" @click="downvote" :class="{disabled: downvoted}"></i> -->
    <span>{{ comment.text }}</span></div>
   <div> <a :href="comment_link">see post</a></div>
  </li>
</template>