<div id='login_error'>
	<h1> Please enter your email to get a sign in link</h1>
<form method="post" @submit.prevent='loginRequest'>
	<input type="email" placeholder="email" v-model="email"/>
	<button class="tiny radius" type=submit>Submit</button>
</form>
<div v-if="submit_success">OK, we sent you a magic link, click on it to log in.
In the meanwhile, you can look at this adorable kitten</div>
<div v-if="submit_failure">{{errMsg}}</div>
<div v-if="kitten"><img src="https://placekitten.com/500/500" alt="kitten"></div>
</div>
