<script> 
var cu = <%= cu.to_json || {} %>
</script>
<div id='my_details'>
  <h1> {{title}} </h1>
  <form method="post" @submit.prevent='submitDetails'>
    <input name=email placeholder='Email' v-model=email >
<!--     <input name=password type=password placeholder='Password' v-model=password> -->
    <input name=first_name placeholder='First Name' v-model=first_name>
    <input name=last_name placeholder='Last Name' v-model=last_name>
    <input name=desc placeholder='Position' v-model=desc>
    
    <button class='btn' type=submit>Submit</button>
    <span class=errMsg> {{errMsg}} </span>
    <div v-if="success">Thanks for submitting details</div>
  </form>
</div>

<script>
var app = new Vue({
  el: '#my_details',
  data: {
    title: 'Edit My Details',
    email: cu["email"],
    password: cu["password"],
    first_name: cu["first_name"],
    last_name: cu["last_name"],
    desc: cu["desc"],
    success:false,
  },
  computed: {
    allowSubmit: function() { return this.email; },
    errMsg: function () {
      if (!this.email) return 'No email.';
      if (!this.first_name) return 'No first name';
      if (!this.last_name) return 'No last name.'; 
    }
  },
  methods: {
    submitDetails () { 
      alert('submitting details...')
      var my_user = this;
      $.post("/update_user", {email: this.email, first_name: this.first_name, last_name: this.last_name, desc: this.desc})
        .success(function(response){
          my_user.success = response;// my_user.push(response);
          return
      })

    }
  }

})
</script>


<!-- <div id='my_details'>
  <h1> {{title}} </h1>
  <form action='/register' method='post'>
    <input name=email placeholder='Email' v-model=email >
    <input name=password type=password placeholder='Password' v-model=password>
    <input name=first_name placeholder='First Name' v-model=first_name>
    <input name=last_name placeholder='Last Name' v-model=last_name>
    <input name=desc placeholder='Position' v-model=desc>
    
    <button class='btn' :disabled=!allowSubmit type='submit' @click=submitDetails> Submit </button>
    <span class=errMsg> {{errMsg}} </span>
  </form>


<!--     <form method="post" @submit.prevent='addComment'>
    <input type=zhidden v-model="post._id">
    <input type="text" placeholder="Your comment" v-model="new_comment_text"/>
    <button class="tiny radius" type=submit>Submit</button>
  </form>
 -->