<script> 
var user = <%= user.to_json || {} %>
</script>

<div id='userpage'>
  <h1> User <b>{{username}}<b> </h1>
  <h1> My posts </h1>
  <div class="container-fluid">
    <ul class="list-group">
      <post-component v-for="postItem in postsList" v-bind:postdata="postItem"></post-component>
    </ul>
  </div>
</div>

  <h1> My comments</h1>

<script>
var userpage = new Vue({
  el: "#userpage",
  data: {
    username: user["username"],
    user_id: user["_id"],
    postsList: [],
  }
});

$.get('/my_posts?user_id=' + userpage.user_id).success(function(res) {
  // userpage.postsList = res.user;
  userpage.postsList = res.postsArray;

})  

</script>

<script src='/js/components/post.js'></script>