<script> 
  var user = <%= user.to_json || {} %>
</script>

<div id='userpage'>
  <h1> User <b>{{username}}<b> </h1>
  <h4> My posts </h4>
  <div class="container-fluid">
    <ul class="list-group">
      <post-component v-for="postItem in postsList" v-bind:postdata="postItem"></post-component>
    </ul>
  </div>


  <h4> My comments</h4>

  <div class="container-fluid">
    <ul class="list-group">
      <comment v-for="comment in commentsList" :comment="comment"></comment>
    </ul>
  </div>
</div>


<script src='/js/users/userpage.js'></script>
<script src='/js/components/post.js'></script>
<script src='/js/components/comment.js'></script>