<div>
<!-- <button>upvote</button> -->
title: <a href='/p/<%=post[:slug]%>'><%= post[:title] %></a>
url:   <%= post[:url] %>
<small><%= post[:created_at] %> </small>
<b><%#= post[:votes] %> </b>
<%#= erb :'layout/upvote_btn' %>
</div>