<script src='/js/components/comment.js'></script>
<script>
  var postData = <%= single_post_page_data(post).to_json %>
</script>

<div id='single_post_page'>
  <h1> Single Post </h1>
  <h2> {{post.title}} </h2>
  <h3> {{post.url}} </h3>

  <h4> Comments1 </h4>
  <div class="container-fluid">
      <ul class="list-group">
        <comment v-for="comment in comments" :comment="comment"></comment>
      </ul>
  </div>

  <form action='/comments/submit' method='post'>
    <input type=hidden name=post_id value=<%=post[:_id]%>>
    <textarea class='form-control' name='text' placeholder='Your comment'></textarea>
    <button class='form-control' type=submit>Submit</button>
  </form>
</div>

<script>
  var vm = new Vue({
    el: "#single_post_page",
    data: {
      cu: postData.cu,
      post: postData.post,
      comments: postData.comments
    }
  });
</script>

